<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlearn.mapper.OrderMapper">

    <resultMap id="orderMapper" type="order">
        <id property="id" column="oid"/>
        <result property="ordernum" column="ordernum" />
        <result property="buyerId" column="buyerId" />
        <result property="createdate" column="createdate" />
        <result property="state" column="state" />
        <result property="totalprice" column="totalprice" />
    </resultMap>

    <select id="findAll" resultMap="orderMapper">
        SELECT oid, ordernum, buyerId, createdate, state, totalprice FROM orders
    </select>


    <select id="findBySate" resultMap="orderMapper">
        SELECT oid, ordernum, buyerId, createdate, state, totalprice FROM orders WHERE state = #{state}
    </select>


    <update id="updateState">
         UPDATE orders SET state = #{state} WHERE orders.oid = #{id}
    </update>

    <select id="selectByOrderNumber" parameterType="int" resultMap="com.mlearn.mapper.OrderItemMapper.orderItemMapper">
      select item.*, o.*, b.*, u.uid from orders o
      INNER JOIN orderitems item
      on o.oid = item.orderId
      INNER JOIN books b
      on b.bid = item.bookId
      INNER JOIN user u
      on u.uid = o.buyerId
      where o.ordernum = #{orderNumber}
    </select>

</mapper>